* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
}

header {
    height: 10vh;
    width: 100%;
    background-color: red;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    padding-top: 1.5rem;
}

li {
    list-style: none;

}

ul li a {
    padding: 2rem;
    text-decoration: none;
}